{
  "presets": [
    [
      "@babel/preset-env",
      {
        /*
         * read more about targets:
         * https: //babeljs.io/docs/en/babel-preset-env#targets
         */
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
