{
  "presets": [
    [
      "react-app",
      {
        "flow": false,
        "typescript": true,
        "useESModules": false
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "5.0.0"
        },
        "ignoreBrowserslistConfig": true
      }
    ]
  ],
  "plugins": ["react-require", "inline-react-svg"]
}
